backend/MiddlewareApp/ConsoleApp_for_Self_Hosted_WS/Connected Services/ProxyAndCacheService/ProxyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleApp_for_Self_Hosted_WS.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleApp_for_Self_Hosted_WS.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Itinerary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Steps" nillable="true" type="tns:ArrayOfStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Itinerary" nillable="true" type="tns:Itinerary" />
  <xs:complexType name="ArrayOfStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="tns:Step" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStep" nillable="true" type="tns:ArrayOfStep" />
  <xs:complexType name="Step">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="Instruction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
</xs:schema>